body {
    font-family: sans-serif;
    background-color: #202020;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-container {
    display: flex;
    align-items: flex-start;
}

canvas {
    border: 3px solid #fff;
    background-color: #000;
}

#info {
    margin-left: 20px;
}
